<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--bootstrap-->
    <meta name="viewport" content="user-scalable=no,maximum-scale=1.0,width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="css/custom.css">
    <!--Fontsize Google-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title></title>

  </head>


  <body class="login-background" >
    <div class="d-flex align-items-center" >
      <div class="container">



                      <!--Form init-->
                      <div class="section-form mt-5 dark-trasnparent-background">
                      <form class="" action="index.html" method="post">
                        <div class="text-left mt-2 mr-3 mb-4">
                            <span class="text-white display-4">Login<br></span>
                            <span class="text-white">¿Aún no tienes una cuenta?<br></span>
                            <span class="text-white">Regístrate <span class="text-action">aquí</span></span>
                        </div>




                        <div class="col-md-6 mb-3">
                          <!--label class="text-white" for="validationTooltip01">Email</label-->
                          <div class="row">
                              <div class="col-12">
                                  <input class="call-action-secund p-2 mx-auto" type="text" class="form-control" id="validationTooltip01" name="user_name" placeholder="Email" required>
                              </div>
                          </div>
                          <div class="valid-tooltip">
                            Looks good!
                          </div>
                        </div>

                          <div class="col-md-6 mb-3">
                            <!--label class="text-white" for="validationTooltip01">Contraseña</label-->
                            <div class="row">
                                <div class="col-12">
                                    <input class="call-action-secund p-2 mx-auto" type="password" class="form-control" id="validationTooltip01" name="user_password" placeholder="********" required>
                                </div>
                            </div>
                            <div class="valid-tooltip">
                              Looks good!
                            </div>
                          </div>


                          <!---Button Register--->
                          <div class="d-grid gap-2 col-7 mx-auto mt-4">
                              <button class="btn btn-light rounded-top call-action" type="submit" name="button">Iniciar sesión</button>
                          </div>

                      </form>
                    </div>
      </div>
  </div>

  </body>
</html>
